<!DOCTYPE html>
<html>
<head>
	<title>The Paradiso</title>
	<link rel="stylesheet" type="text/css" href="stylesheet.css">
	<h1>About</h1>
</head>
<body background="Images/background.jpg"> 

	<div id="image-group">
		<img src = "Images/Kitchen Doors.png " height="400" width="600">
	</div> 

	<div id="first-group">
		<p><big>The Paradiso Hotel was formed out of a desire to aid those who go out without a plan. The hotel with all it's rates, accomodations, and other various amenities were specially crafted for people called "backpackers". A testament to those who need a place to stay with cheap rates and can offer great times, The Paradiso Hotel is truly a haven for backpackers everywhere!</big></p>
	</div>
	
	<br/>

	<br />
	
	<div id="first-links" class="section">
		<form method="get" action="Homepage" id="button1"><button type="submit">Homepage</button></form>
		<form method="get" action="Accomodations" id="button2"><button type="submit">Accommodations</button></form>
		<form method="get" action="Reservations" id="button3"><button type="submit">Reservations</button></form>
	</div>
</body>
</html>