<!DOCTYPE html>
<html>
<head>
	<title>The Paradiso</title>
	<link rel="stylesheet" type="text/css" href="stylesheet.css">
	<h1>Accommodations</h1>
</head>
<body background="Images/background.jpg"> 
	
	<h2>Dorm Pods</h2>
	<div id="image-group">
		<img src = "Images/pods.jpg " height="400" width="600">
	</div> 
	<div id="first-group">
		<p><big>The Dorm Pods are compact yet cozy and very affordable.
		Perfect for those on a tight budget and aren't claustrophobic.
		As well as those who are okay with sharing a room with other people.</big></p>
	</div>
	<br/>
	
	<h2>Dorms (Mixed or Female)</h2>
	<div id="image-group">
		<img src = "Images/dorms.jpg " height="400" width="600">
	</div>
	<div id="first-group">
		<p><big>The Dorms are available in mixed and all female.
		These rooms are perfect for those who are ready to make friends with new people.</big></p>
	</div>
	<br/>
	
	<h2>Junior Private</h2>
	<div id="image-group">
		<img src = "Images/private1.jpg " height="400" width="600">
	</div> 
	<div id="first-group">
		<p><big>For more private people, the Junior Private suite is an affordable option for small groups of friends, or families.
		These rooms are very homey and can comfortably accommodate 3 people.</big></p>
	</div>
	<br/>
	
	<h2>Master Private</h2>
	<div id="image-group">
		<img src = "Images/private2.jpg " height="400" width="600">
	</div> 
	<div id="first-group">
		<p><big>For bigger groups or families, the Master Private Suite provides the relax ambiance that the whole hostel embodies, as well as privacy that some may seek.
		Each room comfortably accommodates 6 people.</big></p>	
	</div>
	<br/>
	<br/>
	
	<h1> Amenities</h1>
	<div id="image-group">
	</div>
	<div id="first-group">
		<p><big>Pods and Dorm rooms come with a locker for each guest, while all bookings include air conditioning and/or heaters, unlimited WiFi, and breakfast for all guests.</big></p>
	</div>
	<br/>
	
	<h2>Roofdeck</h2>
	<div id="image-group">
		<img src = "Images/deck.jpg" height="400" width="600">
	</div> 
	<div id="first-group">
		<p><big>The roofdeck is open for anyone who wants to get some fresh air and mingle with new friends.
		Bean bags make for comfortable seating, and the greenery make for a refreshing time.</big></p>
	</div>
	<br/>
	
	<h2>Showers</h2>
	<div id="image-group">
		<img src = "Images/shower.jpg " height="400" width="600">
	</div> 
	<div id="first-group">
		<p><big>On each floor for the pods and dorms are colorful communal showers, while the private bedrooms come with their own private bathroom.</big></p>
	</div>
	
	<br/>
	<br/> 
	<div id="first-links" class="section">
		<form method="get" action="Homepage.html" id="button1"><button type="submit">Homepage</button></form>
		<form method="get" action="Reservations.html" id="button2"><button type="submit">Reservations</button></form>
		<form method="get" action="About.html" id="button3"><button type="submit">About</button></form>
	</div>

</body>
</html>