<!DOCTYPE html>
<html>
<head>
	<title>The Paradiso</title>
	<link rel="stylesheet" type="text/css" href="stylesheet.css">
	<h1>The Paradiso</h1>
	<h2>A backpacker's haven!</h2>
	<br/>
</head>
<body background="Images/background.jpg">
	<div id="image-group">
		<img src = "Images/hostel.jpg " height="500" width="700">
	</div> 
	
	<div id ="first-group">
		<h3><big><b>"One of the best hostels in the world!" - Manila Times</b></big></h3>
		<h4>"Such an amazing place! It was worth what it cost!" - Valerie Blake (London)</h4>
		<h4>"A great place to meet new people!" - Philip Pierre (Paris)</h4>
	</div>

	<div id="first-links" class="section">
		<form method="get" action="About" id="button1"><button type="submit">About</button></form>	
		<form method="get" action="Accomodations" id="button2"><button type="submit">Accommodations</button></form>
		<form method="get" action="Reservations" id="button3"><button type="submit">Reservations</button></form>
	</div>
</body>
</html>