<!DOCTYPE html>
<html>
<head>
	<title>The Paradiso</title>
	<link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>
<body background="Images/background.jpg">
	
	<div id="special-group">
		<p><b><big><big><big><big> Reservations </big></big></big></big></b></p>
	</div>
	<br/>
	
	<div id="special">
		<img src = "Images/lobby.jpg" height="300" width="450">
	</div> 
	
	<form>
		<h3> Accommodation Choice </h3>
		
	<select>
		<option id=input4 value="Dorm Pod">Dorm Pod</option>
		<option id=input5 value="Mixed Dorm">Mixed Dorm</option>
		<option id=input5 value="Female Dorm">Female Dorm</option>
		<option id=input6 value="Junior Private">Junior Private</option>
		<option id=input7 value="Master Private">Master Private</option>
	</select>
	
	
		<h3>Date of Arrival:</h3> 
		<input id=input2 type="date" /> 
		<br />
		<h3>Departure Date:</h3> 
		<input id=input3 type="date" /> 
		
		<input type="submit" /> 
	</form>
	
	<div id="first-links" class="section">
		<form method="get" action="Homepage" id="button1"><button type="submit">Homepage</button></form>
		<form method="get" action="Accomodations" id="button2"><button type="submit">Accommodations</button></form>
		<form method="get" action="About" id="button3"><button type="submit">About</button></form>
	</div>
	
</body> 
</html>