<!DOCTYPE html>
<html>
<head>
	<title>The Paradiso</title>
	<link rel="stylesheet" type="text/css" href="stylesheet.css">
	<h1>About</h1>
</head>
<body background="Images/background.jpg"> 

	<div id="first-group">
		<h1> <%= @details.confirmation %></h1>
	</div>
	
	<br/>
	<br/>
	
	<div id="first-links" class="section">
		<form method="get" action="Homepage" id="button1"><button type="submit">Homepage</button></form>
		<form method="get" action="Accomodations" id="button2"><button type="submit">Accommodations</button></form>
		<form method="get" action="Reservations" id="button3"><button type="submit">Reservations</button></form>
	</div>
</body>
</html>